# builds
core/build/
android/.gradle/
android/build/
android/multivm/build/
android/multivm/.cxx/
android/build-native/
android/local.properties
# artefatos de teste
tests/guest/out/
tests/fuzz/out/
tests/linux/images/
*.img
*.ppm
tests/floppy/out/
core/build*/
android/app/build/
android/multivm/src/main/jniLibs/
tests/*/out/
tests/linux/images/
tests/audio/apks/
*.apk
*.iso
*.qcow2
*.mvd
*.raw
*.vdi
*.vmdk
*.vhd
*.vhdx
*.wav
*.o
*.so
.idea/
*.iml
local.properties
gmon.out
tests/guest/err.txt
